<%= render 'shared/filterbar'%>

<div class="container" id="container-cards">

  <!-- trier d'abord par provider  trier par media  -->

  <% if params[:file_type] %>
    <h2 class="category"> Facebook <%=params[:file_type]%>s </h2>
      <div class="row">
        <%@contents.where(file_type: params[:file_type], external_provider: "facebook").each do |publication| %>
          <%= render 'shared/card', publication: publication %>
        <% end %>
  <% else %>
    <%@contents_file_type.each do |type| %>
      <h2 class="category"> Facebook <%= type %>s </h2>
        <div class="row">
          <%@contents.where(file_type: type).limit(5).each do |publication| %>
            <%= render 'shared/card', publication: publication %>
          <% end %>
          <%= render 'shared/cardlink', publication: @contents.where(file_type: type).limit(6).last %>
        </div>
    <% end %>
  <%end%>


</div>





<!-- Button trigger modal -->
<button type="button" class="btn-black-and-blue" data-toggle="modal" data-target="#exampleModal">
  Hide this data
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Congrats</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        We've erased your selected elements
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-white-and-blue" data-dismiss="modal">Close</button>
        <%= link_to "Go to your user dashboard", userstatistics_path, class: "btn-white-and-blue" %>
      </div>
    </div>
  </div>
</div>
