<div class="container" id="container-cards">

  <h2> Facebook Images </h2>
  <div class="row">
    <% @facebook_images.each do |publication| %>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card">
          <div class="checkbox">
            <form action="/components">
               <input type="checkbox" value="selected" id="selection - #{<%= publication.id %>}">
               <label for="selection - #{<%= publication.id %>}">Select</label>
            </form>
          </div>
          <div class="image" style="background-image: url(<%=publication.url_image%>);" ></div>
          <% if publication.coef_total > 0 %>
          <%=image_tag "warning.svg", class:"sensitive-card" %>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>

  <h2> Facebook Posts </h2>
  <div class="row">
    <% @facebook_posts.each do |publication| %>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card">
          <div class="checkbox">
            <form action="/components">
               <input type="checkbox" value="selected" id="selection - #{<%= publication.id %>}">
               <label for="selection - #{<%= publication.id %>}">Select</label>
            </form>
          </div>
          <div class="post">
            <h2> Post</h2>
            <div class="post-content">
              <p><%= publication.text_publication %></p>
            </div>
          </div>
          <% if publication.coef_total > 0 %>
          <%=image_tag "warning.svg", class:"sensitive-card" %>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>

  <h2> Facebook Likes </h2>
  <div class="row">
    <% @facebook_likes.each do |publication| %>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card" >
            <div class="checkbox">
              <form action="/components">
               <input type="checkbox" value="selected" id="selection-4">
               <label for="selection-4">Select</label>
              </form>
            </div>
            <div class="post">
              <h2> Post</h2>
              <div class="like-content">
                <i class="far fa-thumbs-up"></i>
                <p><%= publication.text_publication %></p>
              </div>
              <% if publication.coef_total > 0 %>
              <%=image_tag "warning.svg", class:"sensitive-card" %>
              <%end%>
            </div>
          </div>
      </div>
    <% end %>
  </div>

</div>






<!-- Button trigger modal -->
<button type="button" class="btn-black-and-blue" data-toggle="modal" data-target="#exampleModal">
  Hide this data
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Congrats</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        We've erased your selected elements
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-white-and-blue" data-dismiss="modal">Close</button>
        <%= link_to "Go to your user dashboard", userdashboard_path, class: "btn-white-and-blue" %>
      </div>
    </div>
  </div>
</div>
