<%= render 'shared/filterbar'%>


<div class="container" id="container-cards">
  <% if params[:file_type] %>
    <h2 class="category"> Facebook <%=params[:file_type].capitalize%>s </h2>
    <%= render 'shared/card', publications: @content %>
  <% else %>
    <h2 class="category"> Facebook Images </h2>
    <div class="row">
      <% if @facebook_images.size == 6 %>
      <%= render 'shared/card', publications: @facebook_images.first(@facebook_images.size - 1)%>
      <%= render 'shared/cardlink', publication: @facebook_images.last %>
      <% else %>
        <%= render 'shared/card', publications: @facebook_images %>
      <% end %>
    </div>
    <h2 class="category"> Facebook Posts </h2>
    <div class="row">
      <% if @facebook_posts.size == 6 %>
        <%= render 'shared/card', publications: @facebook_posts.first(@facebook_posts.size - 1)%>
        <%= render 'shared/cardlink', publication: @facebook_posts.last %>
      <% else %>
        <%= render 'shared/card', publications: @facebook_posts.first(@facebook_posts.size) %>
      <% end %>
    </div>
    <h2 class="category"> Facebook Likes </h2>
    <div class="row">
      <% if @facebook_likes.size == 6 %>
        <%= render 'shared/card', publications: @facebook_likes.first(@facebook_likes.size - 1)%>
        <%= render 'shared/cardlink', publication: @facebook_likes.last%>
      <%else%>
        <%= render 'shared/card', publications: @facebook_likes.first(@facebook_likes.size)%>
      <% end %>
    </div>
  <% end %>
</div>






<!-- Button trigger modal -->
<button type="button" class="btn-black-and-blue" data-toggle="modal" data-target="#exampleModal">
  Hide this data
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Congrats</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        We've erased your selected elements
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-white-and-blue" data-dismiss="modal">Close</button>
        <%= link_to "Go to your user dashboard", userdashboard_path, class: "btn-white-and-blue" %>
      </div>
    </div>
  </div>
</div>
