<form id="edit-form" action="/topics/<%= @topic.id %>" class="topic-form" method="POST" >
  <input type="hidden" name="_method" value="patch">
  <h1 class="topic-header center">Edit a sensitivity topic</h1>
  <div id="mainform-topic">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <h3 id="topic-name-reminder" class="text-center">Topic name:</h3>
    <input id="topic-name" name="topic[name]" class="input-box topic-input" type="text" value="<%= @topic.name %>">
  </div>

  <div id="subform-topic" >
    <h2 id="topic-name-reminder" class="text-center"></h2>
    <h4 id="keyword-explanation" class="topiclist-explained text-center"></h4>
    <div id="words-wrapper">
      <h3 id="topic-name-reminder" class="text-center">Keywords:</h3>
      <% @topic.keywords.each do |keyword| %>
        <div id="Keyword_<%= keyword.id %>" class="keyword-box">
          <input name="keyword[]" class="input-box word-input word-edit" type="text" placeholder="New word" value="<%= keyword.name %>">
          <%= link_to '⊖', keyword, method: :delete, remote: true, :id => "delete-a-word", remote: true %>
        </div>
      <% end %>
    </div>
    <div id="words-form-btns">
      <input id="add-another-word" class="add-word-editform" type="submit" value="⨁ Add another word">
      <div id="btn-submission-topic">
        <input id="cancel-btn" type="button" class="submit-btn-topic" value="Cancel" onClick="window.location.reload()">
        <input id="confirm-topic-btn" class="submit-btn-topic" type="submit" value="Confirm modifications">
      </div>
    </div>
  </div>
</form>
