<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card">
    <% unless publication.nil? %>
      <% if publication.file_type == "image" %>
        <div class="image" style="background: url(<%=publication.url_image%>);" >
          <%= link_to '',"?external_provider=#{external_prov}&file_type=#{publication.file_type}", class:"card-link link-post"%>
          <div class="card-description">
            <h2>See All</h2>
          </div>
        </div>
      <% else %>
        <div class="post">
          <%= link_to '',"?external_provider=#{external_prov}&file_type=#{publication.file_type}", class:"card-link link-post"%>
          <% if publication.external_provider == "twitter" && publication.file_type == "like" %>
            <h2 class="<%=publication.external_provider%>"> Subscription </h2>
          <% else %>
            <h2 class="<%=publication.external_provider%>""><%=publication.file_type.capitalize %></h2>
          <% end %>
          <div class="<%=publication.file_type%>-content">
            <% if publication.file_type == "like" && publication.external_provider == "twitter" %>
                <i class="fab fa-twitter"></i>
            <%else%>
              <i class="far fa-thumbs-up"></i>
            <%end%>
            <p><%= publication.text_publication %></p>
          </div>
        </div>
      <%end%>
      <div class="card-description">
        <h2>See All</h2>
      </div>
    <% else %>
      <h2 class="category"> You have no content!</h2>
    <% end %>
  </div>
</div>
