
<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card link-box">
    <% if publication.file_type == "image" %>
      <div class="image" style="background: url(<%=publication.url_image%>);" >
        <%= link_to '', "contents?file_type=#{publication.file_type}", class:"card-link link-post"%>
        <div class="card-description">
          <h2>See All</h2>
        </div>
      </div>
    <% else %>
      <div class="post">
        <%= link_to '', "contents?file_type=#{publication.file_type}", class:"card-link link-post"%>
        <h2><%=publication.file_type.capitalize %></h2>
        <div class="<%=publication.file_type%>-content">
          <i class="far fa-thumbs-up"></i>
          <p><%= publication.text_publication %></p>
        </div>
      </div>
    <%end%>
    <div class="card-description">
      <h2>See All</h2>
    </div>
  </div>
</div>


