    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <% if publication.nil? %>
          <%= Missing content %>
        <% else %>
          <%= form_for publication, remote: true do |f| %>
            <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
            <%= f.check_box :selected, id: "selection-#{publication.id}" %>
            <label for="selection-<%= publication.id %>">Select</label>
          <% end %>
          <% if publication.file_type == "image" %>
            <div class="image" style="background-image: url(<%=publication.url_image%>);" ></div>
          <% else %>
            <div class="post">
              <% if publication.external_provider == "twitter" && publication.file_type == "like" %>
                <h2 class="<%=publication.external_provider%>"> Subscription </h2>
              <% else %>
                <h2 class="<%=publication.external_provider%>""><%=publication.file_type.capitalize %></h2>
              <% end %>
              <div class="<%=publication.file_type%>-content">
              <% if publication.file_type == "like" && publication.external_provider == "twitter" %>
                <i class="fab fa-twitter"></i>
              <%else%>
                <i class="far fa-thumbs-up"></i>
              <%end%>
                <p><%= publication.text_publication %></p>
              </div>
            </div>
          <% end %>
        <% end %>

        <% if publication.coef_total > 0 %>
        <%=image_tag "warning.svg", class:"sensitive-card" %>
        <%end%>
      </div>
    </div>








