
  <% publications.each do |publication| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="checkbox">
          <form action="/components">
             <input type="checkbox" value="selected" id="selection-<%= publication.id %>">
             <label for="selection-<%= publication.id %>">Select</label>
          </form>
        </div>
        <% if publication.file_type == "image" %>
          <div class="image" style="background-image: url(<%=publication.url_image%>);" ></div>
        <% else %>
          <div class="post">
            <h2><%=publication.file_type.capitalize %></h2>

            <div class="<%=publication.file_type%>-content">
              <i class="far fa-thumbs-up"></i>
              <p><%= publication.text_publication %></p>
            </div>
          </div>
        <%end%>
        <% if publication.coef_total > 0 %>
        <%=image_tag "warning.svg", class:"sensitive-card" %>
        <%end%>
      </div>
    </div>
  <% end %>







