<div class="draglist-container bg-black">
  <ul class="sortable topic-list list-unstyled" id="draglist">
    <% @preferences.each_with_sortable_id do |preference, sortable_id| %>
    <li class="draglist-box" id="<%= sortable_id %>">
      <%= image_tag preference.topic.picto, class: 'picto' %>
      <p class="topic-name"><%= preference.topic.name %></p>
      <div>
        <i class="far fa-times-circle">
           <%= link_to 'Edit', edit_topic_path(preference.topic), remote: true %>
        </i>
      </div>
      <br>
      <div>
        <i class="far fa-times-circle delete-cross">
           <%= link_to 'Destroy', preference, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
        </i>

      </div>
      <i class="fas fa-arrows-alt-v drag"></i>
    </li>
    <% end %>
  </ul>
</div>
