<div class="draglist-container bg-black">
  <ul class="sortable topic-list list-unstyled" id="draglist">
    <% @preferences.each_with_sortable_id do |preference, sortable_id| %>
    <li class="draglist-box" id="<%= sortable_id %>">
      <p class="rank"><%= preference.rank + 1 %></p>
      <%= image_tag "#{preference.topic.picto}", class: 'picto hidden-xs' %>
      <p class="topic-name"><%= preference.topic.name %></p>
      <i class="far fa-times-circle delete-cross">
        <%= link_to 'Destroy', preference, method: :delete, data: { confirm: 'Are you sure?' } %>
      </i>
      <i class="fas fa-arrows-alt-v drag"></i>
    </li>
    <% end %>
<!--
    <li class="draglist-box">
      <p class="rank">7</p>
      <%= image_tag 'personal.png', class: 'picto personal hidden-xs' %>
      <p class="topic-name">Personal topic</p>
      <% if user_signed_in? %>
      <a href="">
        <i class="far fa-edit edit"></i>
      </a>
      <% end %>
      <a href="">
        <i class="far fa-times-circle delete-cross"></i>
      </a>
      <i class="fas fa-arrows-alt-v drag"></i>
    </li> -->
  </ul>
</div>
