<div class="filterbar-prime navbar-fixed-top">
  <ul class="nav nav-tabs prime-tabs">
    <li role="presentation">
      <div class="prime-tab" id="backtocontent">
          <%= link_to 'Back to contents', contents_path%>
        </div>
    </li>

    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle prime-tab" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <div class="prime-tab">
          <%= params[:external_provider] ? params[:external_provider].capitalize : "Social Media" %> <span class="caret"></span>
        </div>
      </a>
      <ul class="dropdown-menu filterbar-prime-dropdown-menu">
          <li><%= link_to 'Facebook',"?external_provider=facebook", class:"linkto dropdown-item"%></li>
          <li><%= link_to 'Twitter',"?external_provider=twitter", class:"linkto dropdown-item"%></li>
          <div class="dropdown-divider"></div>
          <li><%= link_to 'Add another account', userstatistics_path, class:"linkto dropdown-item"%></li>
      </ul>
    </li>

    <li>
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <div class="prime-tab">
          <%= params[:file_type] ? params[:file_type].capitalize + "s" : "Category" %><span class="caret"></span>
        </div>
      </a>
      <ul class="dropdown-menu filterbar-prime-dropdown-menu">
        <li class="dropdown-item"><%= link_to 'Images', params[:external_provider] ? "?external_provider=#{params[:external_provider]}&file_type=image" : "?file_type=image" , class:"linkto dropdown-item"%></li>
        <li class="dropdown-item"><%= link_to 'Posts', params[:external_provider] ? "?external_provider=#{params[:external_provider]}&file_type=post" : "?file_type=post" , class:"linkto dropdown-item"%></li>
        <li class="dropdown-item" href="#"><%= link_to 'Likes / Subscriptions', params[:external_provider] ? "?external_provider=#{params[:external_provider]}&file_type=like" : "?file_type=like" , class:"linkto dropdown-item"%></li>
      </ul>
    </li>


    <li> <%= link_to "?selected=true",id:"filterbar-button", class:"checkout-button prime-tab" do %>
      Make your <span id="compteur"> <%= @selection.size %></span> elements private
      <% end %>

      </li>
  </ul>
</div>
