<div class="navbar-prime navbar-fixed-top">
  <!-- Left Navigation -->
  <div class="navbar-prime-left hidden-xs">
    <%= link_to "Prime Privacy", "/", class: "navbar-prime-title" %>
  </div>

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-prime-logo page-top page-center" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-prime-right">

    <% if user_signed_in? %>

      <!-- Links when logged in -->

      <!-- Avatar with dropdown menu -->
      <div class="navbar-prime-item">
        <div class="dropdown">
          <% if !current_user.facebook.nil?%>
            <% if !current_user.facebook.photo.nil? %>
              <%= image_tag current_user.facebook.photo, class: "avatar dropdown-toggle", id: "navbar-prime-menu", "data-toggle" => "dropdown" %>
            <% else %>
              <%= image_tag "https://cdn0.iconfinder.com/data/icons/user-pictures/100/matureman1-512.png", class: "avatar dropdown-toggle", id: "navbar-prime-menu", "data-toggle" => "dropdown" %>
            <% end %>
          <% else %>
          <%= image_tag "https://cdn0.iconfinder.com/data/icons/user-pictures/100/matureman1-512.png", class: "avatar dropdown-toggle", id: "navbar-prime-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-prime-dropdown-menu">
            <li>
              <%= link_to userstatistics_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Dashboard") %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Edit account") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i> <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-prime-item navbar-prime-link" %>
    <% end %>
  </div>
</div>

