<div class="row">
  <div class="prime-container bottom-margin">
  <% if current_user.facebook.nil?  && current_user.twitter.nil? %>
    <div class="socialmedia-explanation">
      <h2>Social network connections</h2>
      <h4>First, connect the account(s) you want to clean</h4>
    </div>
  <% end %>
    <div class="hidden-xs socialmedia-icons">
      <div class="facebook-icon social-network-logo">
        <%= image_tag 'facebook-logo.png', class: 'logo-social-media' %>
        <% if !current_user.facebook.nil? %>
          <%= image_tag "success.png", class: 'validate-icon'%>
        <% else %>
          <%= link_to user_facebook_omniauth_authorize_path do%>
            <%= image_tag "add.png", class: 'validate-icon' %>
          <% end %>
        <% end %>
      </div>
      <div class="twitter-icon social-network-logo">
        <%= image_tag 'twitter-logo.png', class: 'logo-social-media'%>
        <% if !current_user.twitter.nil? %>
        <%= image_tag "success.png", class: 'validate-icon'%>
        <% else %>
          <%= link_to user_twitter_omniauth_authorize_path do%>
            <%= image_tag "add.png", class: 'validate-icon' %></a>
          <% end %>
        <% end %>
      </div>
      <div class="instagram-icon social-network-logo">
        <%= image_tag 'instagram-logo.png', class: 'logo-social-media'%>
        <a href="#" ><%= image_tag "add.png", class: 'validate-icon' %></a>
      </div>
      <div class="linkedin-icon social-network-logo">
        <%= image_tag 'linkedin-logo.png', class: 'logo-social-media'%>
        <a href="#" ><%= image_tag "add.png", class: 'validate-icon' %></a>
      </div>
      <div class="google-plus-icon social-network-logo">
        <%= image_tag 'google-plus-logo.png', class: 'logo-social-media'%>
        <a href="#" ><%= image_tag "add.png", class: 'validate-icon' %></a>
      </div>
    </div>


    <div class="hidden-sm hidden-md hidden-lg small-icons">
      <div class="facebook-icon social-network-logo xs-view-icons">
        <%= image_tag 'facebook-logo.png', class: 'social-network-logo-small' %>
        <% if !current_user.facebook.nil?  %>
        <%= image_tag "success.png", class: 'validate-icon-small'%>
        <% else %>
          <%= link_to user_facebook_omniauth_authorize_path do%>
            <%= image_tag "add.png", class: 'validate-icon-small' %>
          <% end %>
        <% end %>
      </div>
      <div class="twitter-icon social-network-logo xs-view-icons">
        <%= image_tag 'twitter-logo.png', class: 'social-network-logo-small'%>
        <% if !current_user.twitter.nil? %>
        <%= image_tag "success.png", class: 'validate-icon-small'%>
        <% else %>
          <%= link_to user_twitter_omniauth_authorize_path do%>
            <%= image_tag "add.png", class: 'validate-icon-small' %></a>
          <% end %>
        <% end %>
      </div>
      <div class="instagram-icon social-network-logo xs-view-icons">
        <%= image_tag 'instagram-logo.png', class: 'social-network-logo-small'%>
        <a href="#" ><%= image_tag "add.png", class: 'validate-icon-small' %></a>
      </div>
      <div class="linkedin-icon social-network-logo xs-view-icons">
        <%= image_tag 'linkedin-logo.png', class: 'social-network-logo-small'%>
        <a href="#" ><%= image_tag "add.png", class: 'validate-icon-small' %></a>
      </div>
      <div class="google-plus-icon social-network-logo xs-view-icons">
        <%= image_tag 'google-plus-logo.png', class: 'social-network-logo-small'%>
        <a href="#" ><%= image_tag "add.png", class: 'validate-icon-small' %></a>
      </div>

    </div>
  </div>
</div>


