<div class="styleguide">
  <h1>Styleguide</h1>
  <h1>This is a h1</h1>
  <h2>This is a h2</h2>
  <h3>This is a h3</h3>
  <h4>This is a h4</h4>

  <p>This is a paragraphe</p>

  <h2>This is our logo</h2>
  <div class="bg-black" >
    <%= link_to root_path, class: "navbar-prime-logo" do %>
      <%= image_tag "logo.png" %>
    <% end %>
    <h4 color="white">... on a black background</h3>
  </div>
</div>

<div class="components">
  <h1>Components</h1>
  <h2> This is a navbar </h2>
  <%= render 'shared/navbar' %>

  <h2> This is a filter bar </h2>
  <%= render 'shared/filterbar' %>

  <h2> This is a draglist box </h2>
  <%= render 'shared/draglist' %>

  <h2> This is a button </h2>
  <%= render 'shared/button' %>

  <h2> This is a social network bar </h2>
  <%= render 'shared/social_network_connector' %>

  <h2> This is a background texture </h2>
  <div class="bg-texture"></div>
</div>
