<h1> This is a Navbar </h1>
<%= render 'shared/navbar' %>
<h1> This is a banner </h1>
<%= render 'shared/banner' %>
<h1> Those are cards </h1>
<%= render 'shared/cards' %>
<h1> This is a button </h1>
<%= render 'shared/button' %>
<h1> This is a social network bar </h1>
<%= render 'shared/social_network_connector' %>

