<div id="homepage">
  <%= render 'shared/banner' %>
  <div class="homepage-content">
    <div class="prime-container over-banner">
      <div class="general-tool-presentation center">
        <h1>Take control of your public content</h1>
      </div>

      <div class="tool-features bg-black font-white">
        <div class="feature">
          <%= image_tag "plus.png", class: "feature-logo" %>
          <div class="feature-column-responsive">
            <h2 class="feature-title">All your social networks</h2>
            <p class="feature-description">Add all your social netwok accounts to enable extensive control over your online image</p>
          </div>
        </div>

        <div class="feature">
          <%= image_tag "chip.png", class: "feature-logo" %>
          <div class="feature-column-responsive">
            <h2 class="feature-title">Intelligent sorting</h2>
            <p class="feature-description">Quickly browse through your content to identify sensitive data with the help of our dedicated sensitivity algorythme</p>
          </div>
        </div>

        <div class="feature">
          <%= image_tag "history.png", class: "feature-logo" %>
          <div class="feature-column-responsive">
            <h2 class="feature-title">Act on your content</h2>
            <p class="feature-description">Select the content you want to act on: Delete your sensitive tweets in one click or gather your Facebook content to quickly make it private</p>
          </div>
        </div>
      </div>

      <div class="call-to-action-zone-homepage bg-texture">
        <% if user_signed_in? %>
          <%= link_to "Go to your dashboard", userstatistics_path, class: "blue-submit-btn" %>
        <% else %>
          <%= link_to "Take control of my data", new_user_registration_path, class: "blue-submit-btn" %>
          <div id="trapezoid-already-have-account">
            <%= link_to "Already have an account?", new_user_session_path, class: "already-have-account" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
