<div class="userstatistics-page bg-texture-faded">
  <%= render 'shared/social_network_connector' %>
  <% unless Authentication.where(user: current_user).empty? %>
    <div class="row text-center">
      <%= link_to "Hide your data", preferences_path, class: "blue-submit-btn", id: "trigger-loading"%>
    </div>
  <% end %>
  <% if !@userstatistics.empty? %>
    <div class="prime-container pc-twist">
      <div class="row">
        <div class="timestats">
          <% if !current_user.facebook.nil? && !current_user.twitter.nil? %>
            <div class="col-xs-12 col-sm-6"><%= render 'shared/fbstats' %></div>
            <div class="col-xs-12 col-sm-6"><%= render 'shared/twstats' %></div>
          <% elsif !current_user.facebook.nil? && current_user.twitter.nil? %>
            <div class="col-xs-12"><%= render 'shared/fbstats' %></div>
          <% elsif current_user.facebook.nil? && !current_user.twitter.nil? %>
            <div class="col-xs-12"><%= render 'shared/twstats' %></div>
          <%end%>
        </div>
      </div>
      <div class="row">
        <div class="past-hidings">
          <h3>Past changes:</h3>
          <% @userstatistics.each do |stat| %>
            <div class="statlign">
                <% if stat.total_tw_public == 0 %>
                  <i class="logo-soc fab fa-facebook-square"></i>
                <% elsif stat.total_fb_public == 0 %>
                  <i class="logo-soc fab fa-twitter-square"></i>
                <%else%>
                  <p class="logo-soc"><i class="fab fa-facebook-square"></i> <i class="fab fa-twitter-square"></i></p>
                <%end%>
              <div class="datelog">
                <%= stat.date.to_time.strftime('%B %e, %Y') %>
              </div>
              <p class="publicnumber hidden-xs"><%= stat.total_fb_public + stat.total_tw_public%> public elements</p>
              <p class="sensitivenumber hidden-xs"><%= stat.total_fb_public_sensitive + stat.total_tw_public_sensitive %> sensitive elements</p>
              <div class="seedashb"> <%= link_to "see details", userstatistic_path(stat), class: "btn-white-and-blue"%></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <%end%>
</div>
