<div class="container">
  <div class="banner-data">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="alltype">
          <%= image_tag "post-flat.png", class: "cards-icon" %>
          <%= image_tag "photo-flat.png", class: "cards-icon alltype1" %>
          <%= image_tag "page-flat.png", class: "cards-icon alltype2" %>
          <div class="datapubandsens">

          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <%= image_tag "photo-flat.png", class: "cards-icon" %>
        <div class="datapubandsens">

        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <%= image_tag "post-flat.png", class: "cards-icon" %>
        <div class="datapubandsens">

        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <%= image_tag "page-flat.png", class: "cards-icon" %>
        <div class="datapubandsens">

        </div>
      </div>
    </div>
  </div>

</div>
