<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Prime Privacy - Manage your public data</title>
    <meta name="description" content="Take control of your online image and hide your personal data from everyone">
    <%= favicon_link_tag %>
    <meta property="og:title" content="Coding Bootcamp Le Wagon - Formation Développeur Web">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.primeprivacy.fr">
    <meta property="og:image" content="https://res.cloudinary.com/wmat/image/upload/v1541686509/og-image.png">
    <meta property="og:description" content="Take control of your online image and hide your personal data from everyone. Connect with your social network, see what content is exposed and finally hide it. It's so easy!  ">
    <meta property="og:site_name" content="Prime Privacy">

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <% unless current_page?(root_path) || current_page?(loadingpage_path) %>
      <%= render 'shared/page_offset' %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= yield :javascript %>
  </body>
</html>
